{% extends 'App/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 bg-dark">
  <h1 class="text-white">Frequent Systems</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/systems/j105858.png' %}" class="card-img-top" alt="J105858">
        <div class="card-body">
          <h5 class="card-title text-white">J105858</h5>
          <p class="card-text text-white">One of our old home systems, housing our corporation under the administration of the Silentium Alliance and the Interbellum Corporation</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/systems/keberzsys.png' %}" class="card-img-top" alt="Keberz">
        <div class="card-body">
          <h5 class="card-title text-white">Keberz</h5>
          <p class="card-text text-white">One of the first systems we called home, served as the our first base of operations and opened a recruitment office that still stands to this day.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/systems/beisys.png' %}" class="card-img-top" alt="Bei">
        <div class="card-body">
          <h5 class="card-title text-white">Bei</h5>
          <p class="card-text text-white">A simple system, which we used to hang out on, defending asteroid fields from pirates in exchange for some goods and easy money, also exploiting some of the asteroid fields minerals for ourselves.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/systems/heksys.png' %}" class="card-img-top" alt="Hek">
        <div class="card-body">
          <h5 class="card-title text-white">Hek</h5>
          <p class="card-text text-white">The filled with pirates system and a mining community trade hub, one of our main base of operations to this day, Tulandia has managed to make a place for themselves on this solar system, organizing diplomatic reunions with the local pirates and mining organizations for mutual benefits.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-dark">
          <img src="{% static 'img/systems/miroitemsys.png' %}" class="card-img-top" alt="Miroitem">
          <div class="card-body">
            <h5 class="card-title text-white">Miroitem</h5>
            <p class="card-text text-white">A dangerous system in a dangerous location overall, with little law enforcement around, Tulandia manages to protect and secure some of its resources for themselves, fighting and mining the Serpentis pirates for space and resources and, to this day. No casualties whatsoever in our side!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark">
          <img src="{% static 'img/systems/nakugardcum.png' %}" class="card-img-top" alt="Nakugard Cumulus">
          <div class="card-body">
            <h5 class="card-title text-white">The Nakugard Cumulus</h5>
            <p class="card-text text-white">Not exactly a system per se, but a cumulus of medium security systems used for training, most of Tulandia's recruits are trained around these systems, learning how to fly, fight and mine for themselves. Since it's relatively close to Hek, they can be sure that they are not far from home and can sell their goods near them.</p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}