{% extends 'App/base.html' %}
{% load static %}

{% block content %}

        <div class="hero-section" style="background-image: url('{% static 'img/space-background.jpg' %}');">
            <div class="container py-5">
                <h1>Tulandia Gallery</h1>
                <p>Explore the wonders of Tulandia through our gallery</p>
            </div>
        </div>

        <div class="container my-5">
            <h2>Gallery</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card bg-dark">
                        <img src="{% static 'img/gallery/fleet.jpg' %}" class="card-img-top" alt="Fleet Image 1">
                        <div class="card-body">
                            <h5 class="card-title">Fleet Maneuvers</h5>
                            <p class="card-text">Our comrades in action during a fleet operation.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark">
                        <img src="{% static 'img/gallery/ganking.jpg' %}" class="card-img-top" alt="Fleet Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Fleet Formation</h5>
                            <p class="card-text">Our comrades in formation during a fleet operation, in the search for any unfortunate miner to gank and steal their loot.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark">
                        <img src="{% static 'img/gallery/praxis.jpg' %}" class="card-img-top" alt="Fleet Image 3">
                        <div class="card-body">
                            <h5 class="card-title">The Praxis</h5>
                            <p class="card-text">One of our most deared ships, the Praxis is a strong battlecruiser that can take a beating and still keep on going, used in dangerous territories when searching for pirates in the unknown wormhole space, cute sin't it?</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark">
                        <img src="{% static 'img/gallery/gas_huffing.jpg' %}" class="card-img-top" alt="Fleet Image 4">
                        <div class="card-body">
                            <h5 class="card-title">Gas Huffing</h5>
                            <p class="card-text">One of our favourite and most lucrative activities, collecting rare and exotic gases in deep space inside the unknown regions of wormhole space, which we sell for good profit or reprocess for building useful materials and ship components.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark">
                        <img src="{% static 'img/gallery/salvaging.jpg' %}" class="card-img-top" alt="Fleet Image 5">
                        <div class="card-body">
                            <h5 class="card-title">Salvaging</h5>
                            <p class="card-text">Also one of our favourite activities, after a fight, we assemble a small fleet of ships that scout for precious materials in the destroyed ships wreckages, looking for profitable stuff that's left behind by them, trash for some, gold for us.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark">
                        <img src="{% static 'img/gallery/screenshot.jpg' %}" class="card-img-top" alt="Fleet Image 6">
                        <div class="card-body">
                            <h5 class="card-title">Escort</h5>
                            <p class="card-text">This raw screenshot ingame shows a small fleet of our CEO Notu and some recruits escorting a mining fleet, securing them from the local pirates in Hek, those beams you can appreciate are the mining ship's lasers, harvesting resources from the asteroid fields.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>