{% extends 'App/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 bg-dark">
  <h1 class="text-white">Game Stories</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title text-white">The Founding of Tulandia</h5>
          <p class="card-text text-white">Tulandia was founded by a group of like-minded capsuleers who sought to create a community based on the principles of communism and collective ownership. Our story begins with the founding of the corporation and the early struggles of our members as they worked to build a new home in the vast expanse of New Eden.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title text-white">The Great Heist</h5>
          <p class="card-text text-white">In a daring heist, a group of Tulandia's most skilled pilots infiltrated a heavily guarded Amarr station and made off with a valuable cargo of rare minerals. The heist was a major coup for the corporation and helped to establish Tulandia as a force to be reckoned with in the world of New Eden.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title text-white">The Battle of Hek</h5>
          <p class="card-text text-white">Tulandia's pilots clashed with a rival corporation in a fierce battle over control of the Hek system. Despite being outnumbered, Tulandia's pilots emerged victorious, securing a major victory for the corporation and cementing its reputation as a formidable force in the world of New Eden.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}