{% extends 'App/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 bg-dark">
  <h1 class="text-white">Trade Hubs</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/dodixie.jpg' %}" class="card-img-top" alt="Dodixie">
        <div class="card-body">
          <h5 class="card-title text-white">Dodixie's Trade Hub</h5>
          <p class="card-text text-white">Very convenient trade hub, but not the as big as Jita.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/amarr.jpg' %}" class="card-img-top" alt="Amarr">
        <div class="card-body">
          <h5 class="card-title text-white">Amarr Imperial Family Trade Post</h5>
          <p class="card-text text-white">The second greatest trade hub in New Eden.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/jita.jpg' %}" class="card-img-top" alt="Jita">
        <div class="card-body">
          <h5 class="card-title text-white">Jita 4-4 Caldari Navy Assembly Plant</h5>
          <p class="card-text text-white">The busiest trade hub in New Eden.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{% static 'img/hek.jpg' %}" class="card-img-top" alt="Hek">
        <div class="card-body">
          <h5 class="card-title text-white">Hek's Boundless Creation Factory</h5>
          <p class="card-text text-white">One of the least used trade hubs, very convenient for mining traders!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}